// Variables
$excel-color: #217346;
$close-color: rgb(216, 2, 2);
$whiteBackgroundColor: #f3f2f1;
$hoverItemBackgroundColor: #e1dfdd;
$columnsBackgroundColor: #e6e6e6;

// Useful Classes

i.icon-lg {
  font-size: 1.1rem;
}

.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}

%forHover {
  &:hover {
    background-color: $hoverItemBackgroundColor;
  }
}

%dflexCenter {
  display: flex;
  align-items: center;
}