// Import Functions , Mixins & Variables To Main.scss
@import "functions";

// Basics CSS

* {
  cursor: default;
}

body {
  font-family: Calibri, "Trebuchet MS", sans-serif;
}

a {
  text-decoration: none;
}

// Top Navigation

.top-nav {
  overflow: hidden;
  background-image: linear-gradient(
    to right,
    $excel-color,
    darken($excel-color, 3%)
  );
  color: white;
  a,
  span,
  i {
    color: white;
  }
  > div {
    width: 33%;
  }
  i {
    padding: 7px 10px;
    &:hover {
      background-color: darken($excel-color, 5%);
    }
  }
  .right {
    a {
      &:hover {
        background-color: darken($excel-color, 7%);
      }
    }
    i {
      font-size: 1.4rem;
      padding: 0px 10px;
      &:hover {
        background-color: $close-color;
      }
    }
    span {
      font-size: 0.9rem;
      margin: 0 10px;
    }
  }
  .center {
    font-size: 0.9rem;
  }
  .left {
    i {
      font-size: 1.2rem;
      color: white;
      padding: 5px 10px;
    }
  }
}

// Ribbons & Menu

.control {
  background-color: #f3f2f1;
  .menu {
    ul {
      position: relative;
      margin: auto 0;
      li {
        text-align: center;
        color: #444;
        padding: 5px 0px;
        &:hover  {
          background-color: white;
          color: #000;
        }
        
      }
      span#home-border {
        transition: all 0.3s ;
        content: "";
        width: 40px;
        height: 3px;
        background-color: $excel-color;
        position: absolute;
        left: 10px;
        bottom: 0;
      }

    }
    div.share {
      color: $excel-color;
      font-size: 13px;
      padding: 7px;
    }
  }
}
