// Import Functions , Mixins & Variables To Main.scss
@import "functions";
@import "sub";

// Ribbons & Menu

.control {
  background-color: $whiteBackgroundColor;
  .menu {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 3rem;
    background-color: $excel-color;
    ul {
      display: flex;
      list-style: none;
      position: relative;
      margin: 0;
      padding: 0;

      li {
        transition: background-color 0.15s;
        text-align: center;
        font-size: 14px;
        color: white;
        padding: 5px 0px;
        &:hover:not(.activeTab) {
          background-color: darken($excel-color , 3);
        }
      }
      .activeTab {
        background-color: #f3f2f1;
        color: #333;
      }

      span#home-border {
        transition: all 0.3s;
        content: "";
        width: 40px;
        height: 3px;
        background-color: white;
        position: absolute;
        left: 10px;
        bottom: 0;
      }
    }
    div.share {
      @extend %dflexCenter;
      color: white;
      font-size: 13px;
      padding: 7px;
      svg {
        margin: 0 5px;
      }
    }
  }

  .ribbon {
    display: flex;
    padding: 10px;
    button {
      background-color: $whiteBackgroundColor;
      font-size: 12px;
      padding: 5px;
      display: flex;
      align-items: center;
      border: none;
      @extend %forHover;
      transition: 0.1s;
      * {
        cursor: pointer;
      }
    }
    button.activeBtn {
      background-color: $hoverItemBackgroundColor;
    }
    .ribbonSection {
      display: flex;
      padding: 0 5px;
      border-right: 1px solid #CCC;
      button.verticalButton {
        flex-direction: column;
      }

      div.horizontalButton button span {
        padding-left: 3px;
      }
    }
    select {
      border: 1px solid #DDD;
      font-size: 12px;
      padding: 3px 5px;
      option {
        padding: 5px;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

main {
  width: 100vw;
  height: 75vh;
  overflow: auto;
  table {
    transition: all 0.25s;
    display: flex;
    transform-origin: 0 0;
    th,
    td {
      width: 100px;
      border: 0.3px solid #ccc;
      text-align: center;
      padding: 0;
    }
    tr th:first-child() {
      width: 40px;
    }
    tr.firstRow th,
    tr th:first-child() {
      background-color: $columnsBackgroundColor;
      border-top: none;
    }
    tr td input {
      width: 100%;
      height: 100%;
      border: none;
    }
    input {
      cursor: cell;
      transition: all 0.1s;
      color: transparent;
      text-shadow: 0 0 0 black;
      padding: 4px;
    }
    input:focus {
      border: 2px solid $excel-color;
      cursor: text;
      user-select: contain;
    }
    input.borderAll {
      border: 2px solid #444;
    }
  }
}
