i.icon-lg { font-size: 1.1rem; }

.d-flex { display: flex; }

.align-items-center { align-items: center; }

.flex-column { flex-direction: column; }

.lds-roller { display: inline-block; position: relative; width: 80px; height: 80px; }

.lds-roller div { animation: lds-roller 1.3s cubic-bezier(0.5, 0, 0.5, 1) infinite; transform-origin: 40px 40px; }

.lds-roller div:after { content: " "; display: block; position: absolute; width: 7px; height: 7px; border-radius: 50%; background: white; margin: -4px 0 0 -4px; }

.lds-roller div:nth-child(1) { animation-delay: -0.036s; }

.lds-roller div:nth-child(1):after { top: 63px; left: 63px; }

.lds-roller div:nth-child(2) { animation-delay: -0.072s; }

.lds-roller div:nth-child(2):after { top: 68px; left: 56px; }

.lds-roller div:nth-child(3) { animation-delay: -0.108s; }

.lds-roller div:nth-child(3):after { top: 71px; left: 48px; }

.lds-roller div:nth-child(4) { animation-delay: -0.144s; }

.lds-roller div:nth-child(4):after { top: 72px; left: 40px; }

.lds-roller div:nth-child(5) { animation-delay: -0.18s; }

.lds-roller div:nth-child(5):after { top: 71px; left: 32px; }

.lds-roller div:nth-child(6) { animation-delay: -0.216s; }

.lds-roller div:nth-child(6):after { top: 68px; left: 24px; }

.lds-roller div:nth-child(7) { animation-delay: -0.252s; }

.lds-roller div:nth-child(7):after { top: 63px; left: 17px; }

.lds-roller div:nth-child(8) { animation-delay: -0.288s; }

.lds-roller div:nth-child(8):after { top: 56px; left: 12px; }

@keyframes lds-roller { 0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); } }

* { margin: 0; padding: 0; cursor: default; box-sizing: border-box; }

::selection { background-color: #e6e6e6; }

body { user-select: none; overflow: hidden; font-family: Calibri, "Trebuchet MS", sans-serif; }

a { text-decoration: none; }

i { font-style: normal; }

input:focus { outline: none; }

.control .ribbon button:hover, footer.bottomNav i:hover { background-color: #e1dfdd; }

.top-nav .right, .top-nav .right a, .top-nav .center, .top-nav .left, .control .menu, .control .menu div.share, footer.bottomNav, footer.bottomNav div { display: flex; align-items: center; }

div#loadingSection { position: fixed; height: 100vh; width: 100%; z-index: 999; left: 0; display: grid; align-items: center; justify-content: center; background-color: rgba(0, 0, 0, 0.8); }

.top-nav { display: flex; justify-content: space-between; padding: 0; overflow: hidden; background-color: #217346; color: white; }

.top-nav a, .top-nav span, .top-nav i { color: white; }

.top-nav > div { width: 33%; }

.top-nav i { padding: 7px 10px; }

.top-nav i:hover { background-color: #1b5f3a; }

.top-nav .right { justify-content: end; }

.top-nav .right a { height: 100%; padding: 0 10px 0 5px; }

.top-nav .right a:hover { background-color: #195735; }

.top-nav .right i { font-size: 1.4rem; padding: 0px 10px; }

.top-nav .right i:hover { background-color: #d80202; }

.top-nav .right span { font-size: 0.9rem; margin: 0 10px; }

.top-nav .center { justify-content: center; font-size: 0.9rem; }

.top-nav .left { justify-content: start; }

.top-nav .left i { font-size: 1.2rem; height: 100%; color: white; padding: 5px 10px; }

.control { background-color: #f3f2f1; }

.control .menu { justify-content: space-between; padding: 0 3rem; background-color: #217346; }

.control .menu ul { display: flex; list-style: none; position: relative; margin: auto 0; padding: 0; }

.control .menu ul li { transition: background-color 0.15s; text-align: center; font-size: 15.5px; color: white; padding: 5px 0px; }

.control .menu ul li:hover:not(.activeTab) { background-color: #1e673f; }

.control .menu ul .activeTab { background-color: #f3f2f1; color: #333; }

.control .menu ul span#home-border { transition: all 0.3s; content: ""; width: 40px; height: 3px; background-color: white; position: absolute; left: 10px; bottom: 0; }

.control .menu div.share { color: white; font-size: 13px; padding: 7px; }

.control .menu div.share svg { margin: 0 5px; }

.control .ribbon { display: flex; padding: 10px; }

.control .ribbon button { background-color: #f3f2f1; font-size: 13px; padding: 5px; display: flex; align-items: center; border: none; }

.control .ribbon button * { cursor: pointer; }

.control .ribbon .ribbonSection { display: flex; padding: 0 5px; border-right: 1px solid #CCC; }

.control .ribbon .ribbonSection button.verticalButton { flex-direction: column; }

.control .ribbon .ribbonSection div.horizontalButton button span { padding-left: 3px; }

footer.bottomNav { justify-content: space-between; padding: 0 0.5rem; background-color: #f3f2f1; position: fixed; bottom: 0; width: 100%; }

footer.bottomNav code { font-size: 11px; color: #444; }

footer.bottomNav div * { padding: 2px 5px; margin: 0 5px; }

footer.bottomNav i { font-size: 14px; }

footer.bottomNav input[type="range"] { -webkit-appearance: none; background: transparent; width: 100%; }

footer.bottomNav input[type="range"]:focus { outline: none; }

footer.bottomNav input[type="range"]::-webkit-slider-runnable-track { width: 100%; height: 1px; cursor: pointer; background: #bfbfbf; border-radius: 0px; }

footer.bottomNav input[type="range"]::-webkit-slider-thumb { height: 15px; width: 4px; border-radius: 0px; background: #7d7d7d; cursor: pointer; -webkit-appearance: none; margin-top: -7.5px; }

footer.bottomNav input[type="range"]:focus::-webkit-slider-runnable-track { background: #bfbfbf; }

footer.bottomNav input[type="range"]::-moz-range-track { width: 100%; height: 1px; cursor: pointer; background: #bfbfbf; border-radius: 0px; }

footer.bottomNav input[type="range"]::-moz-range-thumb { height: 15px; width: 4px; border-radius: 0px; background: #7d7d7d; cursor: pointer; }

footer.bottomNav input[type="range"]::-ms-track { width: 100%; height: 1px; cursor: pointer; background: transparent; border-color: transparent; color: transparent; }

footer.bottomNav input[type="range"]::-ms-fill-lower { background: #bfbfbf; border-radius: 0px; }

footer.bottomNav input[type="range"]::-ms-fill-upper { background: #bfbfbf; border-radius: 0px; }

footer.bottomNav input[type="range"]::-ms-thumb { margin-top: 1px; height: 28px; width: 8px; border-radius: 0px; background: #7d7d7d; cursor: pointer; }

footer.bottomNav input[type="range"]:focus::-ms-fill-lower { background: #bfbfbf; }

footer.bottomNav input[type="range"]:focus::-ms-fill-upper { background: #bfbfbf; }

main { width: 100vw; height: 75vh; overflow: auto; }

main table { transition: all 0.25s; display: flex; transform-origin: 0 0; }

main table th, main table td { width: 100px; border: 0.3px solid #ccc; text-align: center; padding: 0; }

main table tr th:first-child { width: 40px; }

main table tr.firstRow th, main table tr th:first-child { background-color: #e6e6e6; border-top: none; }

main table tr td input { width: 100%; height: 100%; border: none; }

main table input { cursor: cell; transition: all 0.1s; color: transparent; text-shadow: 0 0 0 black; }

main table input:focus { border: 2px solid #217346; cursor: text; user-select: contain; }
