* {
  cursor: default;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: Calibri, "Trebuchet MS", sans-serif;
}

a {
  text-decoration: none;
}

i {
  font-style: normal;
}

input:focus {
  outline: none;
}

.control .ribbon button:hover, footer.bottomNav i:hover {
  background-color: #e1dfdd;
}

.top-nav {
  overflow: hidden;
  background-image: linear-gradient(to right, #217346, #1e673f);
  color: white;
}

.top-nav a,
.top-nav span,
.top-nav i {
  color: white;
}

.top-nav > div {
  width: 33%;
}

.top-nav i {
  padding: 7px 10px;
}

.top-nav i:hover {
  background-color: #1b5f3a;
}

.top-nav .right a:hover {
  background-color: #195735;
}

.top-nav .right i {
  font-size: 1.4rem;
  padding: 0px 10px;
}

.top-nav .right i:hover {
  background-color: #d80202;
}

.top-nav .right span {
  font-size: 0.9rem;
  margin: 0 10px;
}

.top-nav .center {
  font-size: 0.9rem;
}

.top-nav .left i {
  font-size: 1.2rem;
  color: white;
  padding: 5px 10px;
}

.control {
  background-color: #f3f2f1;
}

.control .menu {
  border-bottom: 1px solid #ddd;
}

.control .menu ul {
  position: relative;
  margin: auto 0;
}

.control .menu ul li {
  text-align: center;
  font-size: 15.5px;
  color: #444;
  padding: 5px 0px;
}

.control .menu ul li:hover {
  background-color: white;
  color: #000;
}

.control .menu ul span#home-border {
  transition: all 0.3s;
  content: "";
  width: 40px;
  height: 3px;
  background-color: #217346;
  position: absolute;
  left: 10px;
  bottom: 0;
}

.control .menu div.share {
  color: #217346;
  font-size: 13px;
  padding: 7px;
}

.control .ribbon {
  padding: 10px;
}

.control .ribbon button {
  font-size: 13px;
  padding: 5px;
  display: flex;
  align-items: center;
  border: none;
}

.control .ribbon button * {
  cursor: pointer;
}

.control .ribbon button.verticalButton {
  flex-direction: column;
}

footer.bottomNav {
  background-color: #f3f2f1;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer.bottomNav code {
  font-size: 12px;
}

footer.bottomNav div * {
  padding: 2px 5px;
  margin: 0 5px;
}

footer.bottomNav i {
  font-size: 14px;
}

footer.bottomNav input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
}

footer.bottomNav input[type="range"]:focus {
  outline: none;
}

footer.bottomNav input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #bfbfbf;
  border-radius: 0px;
}

footer.bottomNav input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 4px;
  border-radius: 0px;
  background: #7d7d7d;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}

footer.bottomNav input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #bfbfbf;
}

footer.bottomNav input[type="range"]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #bfbfbf;
  border-radius: 0px;
}

footer.bottomNav input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 4px;
  border-radius: 0px;
  background: #7d7d7d;
  cursor: pointer;
}

footer.bottomNav input[type="range"]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

footer.bottomNav input[type="range"]::-ms-fill-lower {
  background: #bfbfbf;
  border-radius: 0px;
}

footer.bottomNav input[type="range"]::-ms-fill-upper {
  background: #bfbfbf;
  border-radius: 0px;
}

footer.bottomNav input[type="range"]::-ms-thumb {
  margin-top: 1px;
  height: 28px;
  width: 8px;
  border-radius: 0px;
  background: #7d7d7d;
  cursor: pointer;
}

footer.bottomNav input[type="range"]:focus::-ms-fill-lower {
  background: #bfbfbf;
}

footer.bottomNav input[type="range"]:focus::-ms-fill-upper {
  background: #bfbfbf;
}

main {
  width: 100vw;
  height: 77vh;
  overflow: auto;
}

main table {
  transition: all 0.3s;
  display: flex;
  transform-origin: 0 0;
}

main table th, main table td {
  width: 100px;
  border: 0.5px solid #CCC;
  text-align: center;
}

main table tr th:first-child {
  width: 40px;
}

main table tr.firstRow th, main table tr th:first-child {
  background-color: #e6e6e6;
  border-top: none;
}

main table tr td input {
  width: 100%;
  height: 100%;
  border: none;
}
